:root,
  :root.light{
    --bg-color: #000022;
    --elements-color: #BFBDC1;
    --main-accent-color: #095256;
  }

  :root.dark{
    --bg-color: #BFBDC1;
    --elements-color: #000022;
    --main-accent-color: #095256;
  }

body {
  background-color: var(--bg-color);
}

canvas {
  border: 1px solid var(--elements-color);
}

.theme-btn {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: var(--main-accent-color);
}