:root{
  --bg-color: #eae0d5;
  --elements-color: #c6ac8f;
  --main-accent-color: #22333b;

  /* --bg-color: #0a0908;
  --elements-color: #eae0d5;
  --main-accent-color: #c6ac8f; */
}

body {
  background-color: var(--bg-color);
}

canvas {
  border: 1px solid var(--elements-color);
  max-height: 800px;
  max-width: 800px;
  border-radius: 16px;
}

.canvas_options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangles-table {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 620px;
  overflow-y: scroll;
  border: 4px solid var(--elements-color);
  border-radius: 8px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.triangles-table::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  align-items: center;
}

.workspace {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;

  overflow: hidden;

  @media (max-width : 1300px) {
    flex-direction: column;
  }

  padding:8px;
}

#delete-all-btn {
  margin: 8px;
}

.btn-div {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.btn {
  width: 100px;
  height: 60px;
  padding: 0.5em;
  cursor: pointer
  border: none;
}